.noPadding {
  padding:0 !important;
}
nav {
  position:fixed !important;
  top:0;
  z-index:9999;
  padding:30px 50px 80px !important;
  width:250px;
  height:100%;
  background-color:rgba(0, 0, 0, 0.8);
  left:-250px;
  transition: left 0.5s ease;
}
nav.drawerOpen {left:0px;}

nav #drawerLogo {
  width:100%;
  display:inline-block;
  padding:10px;
  margin-bottom:5px;
}
nav #drawerLogo img {
  width:100%;
  height:auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

nav ul {
  margin:0;
  padding:0;
}
nav li {
  list-style:none;
  padding:0;
}
nav a {
  font-weight:700;
  color:#fff;
  font-size:1.3rem;
  text-transform:uppercase;
}

nav p {
  font-size:.85rem;
  font-weight:100;
  line-height:1.2rem;
  color:#fff;
  text-align:center;
  font-style:italic;
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  padding:30px;
  color:#cecece;
}
nav p i {font-size:1.2rem;display:inline-block;}

nav .TylerDow {
  color: #c4c4c4;
  font-size: .8rem;
  width: 100%;
  font-family:Georgia, serif;
  text-align:center;
  margin-bottom:30px;
  line-height: 1.09rem;
}
nav .TylerDow h1 {
  font-size: 1rem;
  width: 100%;
  font-family:Georgia, serif;
  text-align:center;
  color:#c4c4c4;
  text-transform:uppercase;
  margin-bottom:2px;
}
nav .TylerDow a {font-size: .8rem;font-weight:100;text-transform:none;color:#c4c4c4;}

.banner { position: relative; overflow: auto; }
.banner ul {margin:0;}
.banner li { list-style: none; }
.banner ul li { float: left; }

#pageWrapperMain {
  margin:0;
  padding:0;
  width:100%;
  float:left;
  position:absolute;
  transition: margin 0.5s ease;
  z-index:1;
}
#pageWrapperMain.drawerOpen {margin-left:250px;}

.topHeader {
  position:fixed;
  top:0;
  z-index:9999;
  height:auto;
  padding:20px 30px;
}
.topHeader.darkHeader {background-color:rgba(70, 70, 70, 0.95);}

.navLauncher {
  color:#fff;
  font-size:3rem;
  width:100%;
}
.navLauncher .fa-bars {cursor:pointer;}
.navLauncher .headerContact {
  display:none;
  color:#fff;
  float:right;
  font-size:1.3rem;
  padding:15px;
  text-transform:uppercase;
}
.darkHeader .navLauncher .headerContact {display:inline-block;}
.navLauncher .headerContact .fa-paper-plane-o {margin-right:5px;}

.navName a {
  color:#fff;
  font-size:1.5rem;
}

.row.HomeVideo {
  height:auto;
  background-color:#000;
  position:relative;
  width:100%;
  overflow:hidden;
}
.row.HomeVideo video {
    margin:0 auto;
}

.videoOverlay {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: rgba(44,44,44,0.8);
  z-index:999;
  text-align:center;
}
.videoOverlay:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

.openingMessage {
  display: inline-block;
  vertical-align: middle;
  width: 70%;
  padding-bottom:10%;
}
.openingMessage h1 {
  color:#fff;
  font-size:1.5rem;
  font-weight:100;
  text-transform:uppercase;
  letter-spacing:.4rem;
  opacity:.9;
}
.openingMessage h1 .creative {
  font-family:Georgia, serif;
  font-size:3rem;
  line-height:3.25rem;
  letter-spacing:.1rem;
}

#locationPanel .panel {
  padding:75px 5px;
  margin-bottom:0;
}
#locationPanel .panel h3 {
  font-family:Georgia, serif;
  font-size:1.25rem;
  line-height:2rem;
  letter-spacing:.1rem;
  text-transform:uppercase;
}
#locationPanel .panel p {
  font-size:1.2rem;
  font-weight:100;
}
.travelMessage {
  margin-bottom:45px;
}
#locationPanel p .city h5 {
  font-size:.8rem;
}
#locationPanel .city {vertical-align:middle;padding-top:13px;}
#locationPanel .currentCity {padding-top:0;}
#locationPanel .city a {
  font-size:1rem;
  text-transform:uppercase;
  font-weight:100;
  color:#bbb0a9;
}
#locationPanel .currentCity h3 {font-size:1.25rem;}
#locationPanel .currentCity a {color:#C95748;font-size:1.5rem;}

.adventure {
  padding:100px 0;
  background-size:cover;
  background-position:right;
  background-image:url('/img/adventure_bg.jpg');
  float:left;
}
.adventure h2 {color:#fff;}
.adventure p {
  font-family: Georgia, serif;
  font-size: .9rem;
  color:#fff;
}

.adventure a {
  color:#fff;
  text-decoration:underline;
}


#skillsPanel {
  padding:0;
  height:100%;
  float:left;
  background-color:#FFF;
  position:relative;
}

#skillsPanel .skillSet {
  padding:50px 5%;
  color:#fff;
  min-height:380px;
}

#skillsPanel .skillSet i {font-size:3rem;margin-bottom:20px;}

#skillsPanel .skillSet p {
  text-align:justify;
  font-size:.8rem;
}

#skillsPanel .skillSet h3 {
  font-family: Georgia, serif;
  font-size: 1.5rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  color:#fff;
}

#quotePanel {
  padding:75px 10%;
}
#quotePanel a.unslider-arrow {margin-top:25px;font-size:.8rem;font-weight:900;text-transform:uppercase;display:inline-block;float:right;}
#quotePanel li {margin:0;font-size:1.2rem;font-weight:100;}

#articlesPanel {
  padding:75px 5%;
  float:left;
}

#articlesPanel h3 {
  width:100%;
  text-align:center;
  font-family:Georgia, serif;
  font-size:1.5rem;
  line-height:2rem;
  letter-spacing:.1rem;
  text-transform:uppercase;
  margin-bottom:40px;
}

#articlesPanel p {
  font-size: 1rem;
  font-weight: 100;
  text-align:justify;
  padding:0 30px;
}
#articlesPanel p a {
  text-align:left;
  font-weight:400;
  font-size:1.15rem;
}

.mediumBlogLink {
  width:100%;
  text-align:center;
  display:inline-block;
  font-weight:100;
  font-size:.9rem;
  margin-top:30px;
}



/* ABOUT PAGE */
#aboutHeader {
  height:400px;
  width:100%;
  background-image:url('../about/header.jpg');
  background-size:cover;
  background-position:right center;
  position:relative;
  background-color:#242424;
}
#aboutHeader h1 {
  position:absolute;
  bottom:100px;
  left:8%;
  padding:10px 30px 10px 22px;
  background-color:#525a4f;
  color:#fff;
  font-size:2rem;
  width:auto;
  font-family: 'Open Sans', sans-serif;
  font-weight:900;
}
#aboutHeader h3 {
  position:absolute;
  bottom:35px;
  left:8%;
  padding:10px 25px 14px 17px;
  background-color:#47403e;
  color:#fff;
  font-size:1.15rem;
  font-weight:100;
  width:auto;
}

.aboutPageStory {
  padding: 50px 8%;
}
.aboutPageStory h4 {margin-bottom:2px;}
.aboutPageStory p {
  font-family: Georgia, serif;
  font-size: .95rem;
  margin-bottom: 30px;
}

.aboutPageImages {
  padding: 10px 8% 10px 0;
  margin-top: 40px;
}

.aboutPageImages h5 {
  display:block;
  padding:25px 25px 20px;
  color:#4f4f4f;
  text-align:center;
  font-size:.95rem;
}

.aboutPageImages form {
  padding:25px 25px 20px;
  background-color:#989898;
}

.aboutPageImages form ._label {
  margin-bottom: 5px;
  color:#fff;
}

.postSuccess {
  width: 100%;
  float: left;
  padding: 20px;
  background-color: #3a5c2f;
  color: #fff;
  margin-top: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  font-weight: 100;
}

/* PROJECTS PAGE */
.projectsPage {

}
.projectsPage header {
  background-color:#000;
  background-image:url("../projects/header.jpg");
  background-size:cover;
  background-position:center right;
  padding:50px 150px;
  color:#fff;
}

.projectsPage header h1 {
  width: 100%;
  font-family: Georgia, serif;
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 5px;
  color:#fff;
  text-shadow: 2px 1px 1px #000;
}
.projectsPage header p {
  width:60%;
}

.projectsPageGrid {
  padding:0;
  background-color:#989898;
}

.projectsPageItem {
  padding:0;
  margin-bottom:0px;
  padding:0;
  background-size:cover;
  background-position:center center;
  transition: padding 0.5s ease;
}
.projectsPageItem.active {
  padding:50px 0 0;
}

.projectsPageItem div.projectImageContainer {
  height:250px;
  overflow:hidden;
  display:table;
  padding:0;
  transition: height 0.5s ease;
}
.projectsPageItem.active div.projectImageContainer {
  height:300px;
}
.projectsPageItem div.projectImageContainer a {
  width:100%;
  height:100%;
  position:relative;
  text-align:center;
  display:table-cell;
  vertical-align:middle;
  overflow:hidden;
}
.projectsPageItem a.projectLogo {opacity:1;transition: opacity 0.4s ease;}
.projectsPageItem.active a.projectLogo {opacity:0;}

.projectsPageItem a.browserShot {display:none;margin-top:450px;transition: margin 0.4s ease;}
.projectsPageItem.active a.browserShot {
  display:block;
  position:absolute;
  margin-top:0px;
  left:0;
}

.projectsPageItem a img {
  width:70%;
  height:auto;
  opacity:1;
  margin-top:0;
}
.projectsPageItem.active a.browserShot img {
  width:90% !important;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
}

.projectsPageItem div.projectTitleContainer {
  height:250px;
  padding:10px;
  transition: height 0.5s ease;
  display:table;
}
.projectsPageItem.active div.projectTitleContainer {
  height:300px;
}
.projectTitleContainer .projectTitleText {
  width:100%;
  height:100%;
  position:relative;
  display:table-cell;
  vertical-align:middle;
  padding-left:10px;
}
.projectTitleContainer .projectTitleText h4 {
  width: 100%;
  font-weight:900;
  font-size: 1.5rem;
  line-height: 1.7rem;
  text-transform: uppercase;
  margin-bottom: 5px;
  color:#fff;
}
.projectTitleContainer .projectTitleText h5 {
  font-size: .9rem;
  margin-bottom: 20px;
  color: #eee;
}
.projectTitleContainer .projectTitleText a.projectLauncherButton {
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 0.6rem;
  padding-left: 1rem;
}


#itemWayfinders {background-image:url('../projects/img/wayfinders_bg.jpg');}
#itemWayfinders.active {background-color:#00a19c;background-image:none;}

#itemIVLab {background-image:url('../projects/img/iv_lab_bg.jpg');}
#itemIVLab.active {background-color:#0073a3;background-image:none;}

#itemLazzaraLenton {background-image:url('../projects/img/lazzaralenton_bg.jpg');}
#itemLazzaraLenton.active {background-color:#35033b;background-image:none;}
#itemLazzaraLenton.projectsPageItem a img {width:50%;}

#itemScoutandCast {background-image:url('../projects/img/scoutandcast_bg.jpg');}
#itemScoutandCast.active {background-color:#c16634;background-image:none;}

#itemShaneRickert {background-image:url('../projects/img/shanerickert_bg.jpg');}
#itemShaneRickert.active {background-color:#303030;background-image:none;}

/* PROJECT DESCRIPTION */
.projectExplanation {
  padding:0;
}

/* WORK STYLES */
#wayfinders header {
  padding:0 40px;
  position:relative;
  background-color:#00a19c;
}
#wayfinders header img {width:60%;padding:60px 0;}

#IVLab header {
  padding:0 40px;
  position:relative;
  background-color:#0073a3;
}
#IVLab header img {width:50%;padding:90px 0;}

#LazzaraLenton header {
  padding:0 40px;
  position:relative;
  background-color:#35033b;
}
#LazzaraLenton header img {width:20%;padding:50px 0;}

#scoutandcast header {
  padding:0 40px;
  position:relative;
  background-color:#c16634;
}
#scoutandcast header img {width:50%;padding:90px 0;}

#ShaneRickert header {
  padding:0 40px;
  position:relative;
  background-color:#303030;
}
#ShaneRickert header img {width:50%;padding:90px 0;}



/* PROJECT DESCRIPTION */
.workProjectContainer {
  width:100%;
  height:100%;
  float:left;
  background-color: #eaeaea;
}

.projectDescription {
  background-color: #eaeaea;
  clear:none;
}
.clientOverviewLabel {
  padding:10px;
  background-color:#C95748;
  color:#fff;
  font-weight:bold;
}
.projectDescriptionOverview {
  padding:30px;
}
.projectDescriptionOverview .overviewLabel {
  display:inline-block;
  font-size:.75rem;
  font-style:italic;
  color:#b5b5b5;
}
.projectDescriptionOverview h1 {
  font-family:Georgia, serif;
  font-size:1.3rem;
  line-height:2rem;
  letter-spacing:.1rem;
  text-transform:uppercase;
  margin-bottom:15px;
}
.projectDescriptionOverview h2 {
  font-size:.95rem;
  margin-bottom:20px;
  color:#6C8A82;
}
.projectDescriptionOverview p {
  font-family:Georgia, serif;
  font-size:.9rem;
  line-height:1.2rem;
}
.projectDescriptionOverview a {color:#C95748;}
.projectDescriptionOverview .projectOverviewLink {
  font-size:.8rem;
}

.projectScreenshots {
  text-align:center;
  padding:0;
  float:left;
}

.projectScreenshots .headerScreens {
  margin-bottom:75px;
  width:95%;
}

.screensArea {
  background-color:#fff;
  padding:50px 20px;
}
.screensArea .screenshot {
  width:80%;
  margin:25px 0;
  border:1px solid #f5f5f5;
}

.screensSection {
  display:table;
  height:100%;
}
.screensSectionText {
  display:table-cell;
  vertical-align:middle;
  width:50%;
  padding:40px 20px;
  text-align:left;
}
.screensSectionText_full {
  padding:50px 5%;
}
.screensSectionText_full h2, .screensSectionText h2 {
  line-height:2.4rem;
  margin-bottom: 20px;
  font-size:1.9rem;
  font-weight:bold;
}
.screensSectionText_full p, .screensSectionText p {
  font-family:Georgia, serif;
  font-size:1rem;
}

.screensSectionImage {
  display:table-cell;
  vertical-align:middle;
  width:37%;
}


/* BADGES */
.projectDescriptionBadges {
  background-color: #d7d7d7;
  padding: 30px;
  margin-top:70px;
  padding-bottom:5px;
}
.projectDescriptionBadges h3 {
  font-weight:bold;
  margin-bottom: 30px;
  text-transform:uppercase;
  font-size:1.1rem;
}

.badgeContainer {
  text-align:left;
  padding:0;
}
.badgeContainer .badgeLabel {
  display:inline-block;
  vertical-align:middle;
  height: 25px;
  margin-bottom: 30px;
  font-size:.9rem;
}
.badge {
  width: 30px;
	height: 15px;
	background-color:#fff !important;
	position: relative;
  text-align:center;
  display:inline-block;
  vertical-align:middle;
  margin-right:10px;
  margin-bottom:40px;
}
.badge:before {
	content: "";
	position: absolute;
	top: -12px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 12px solid #FFF;
}
.badge:after {
	content: "";
	position: absolute;
	bottom: -12px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 12px solid #FFF;
}
.badge i.fa {
  font-size: .9rem;
  color:#ccc;
}






footer {
  background-color:#282828;
  padding:20px 5%;
  float:left;
  color:#fff;
  width:100%;
}
footer h5 {color:#fff;}
footer a {color:#fff;font-size:1.5rem;}

#contactForm {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:0px 20%;
  background-color:rgba(0,0,0,0.6);
  opacity:0;
  transition: opacity 0.3s ease;
  z-index:-1;
}
#contactForm.sendingNow {opacity:1;z-index:999999;}
#contactForm form {
  background-color:#fff;
  padding:20px 10px 40px;
  float:left;
  width:100%;
  background-image:url('../img/postcards/postcard3.jpg');
  background-size:cover;
  background-position:center center;
  border:10px solid #fff;
  position:relative;
  margin-top:-800px;
  display:block;
  opacity:0;
  transition: margin 0.9s ease;
}
#contactForm.sendingNow form {margin-top:150px;opacity:1;}
#contactForm #contactClose {
  width:40px;
  height:40px;
  line-height:40px;
  text-align:center;
  background:#000;
  color:#fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position:absolute;
  top:-30px;
  left:-30px;
  text-transform:uppercase;
  cursor:pointer;
}

#contactForm form .cardLeft {
  border-right:1px dotted #e3e4d3;
}
#contactForm form .postcardGreeting {
  width:100%;
  margin-bottom:40px;
}
#contactForm .postcardWitt {
  font-family:Georgia, serif;
  font-size:.9rem;
  line-height:1rem;
  color:#fff;
}
#contactForm .postcardMessage {padding:75px 0 5px 15px;}
#contactForm .postcardMessageLabel {
  font-family:Georgia, serif;
  font-size:1.2rem;
  line-height:1rem;
  text-transform:uppercase;
  color:#fff;
  margin-bottom:5px;
}
#contactForm input, #contactForm textarea {
  font-family: "Lucida Console", Monaco, monospace;
  text-transform:uppercase;
  box-shadow:none;
}
#contactForm ._field._type_textarea{background:rgba(232, 232, 225, 0.6);padding:10px;}
#contactForm textarea {
  font-size:1rem;
  line-height:30px;
  background:url('../img/postcards/messageBG.png');
  border:none;
}
#contactForm .postcardSend {float:right;}
#contactForm .postcardSendButton {background-color:#000;color:#fff;margin-top:15px;}


@media screen and (max-width: 1024px) {
  #skillsPanel .skillSet {min-height:100px;}
}
@media screen and (max-width: 640px) {
  .topHeader {padding:10px 5px;}
  .adventure {
    padding:75px 0;
    background-size:auto 100%;
    background-position:left;
  }
  #homeContainer.row.HomeVideo video {display:none;}
  #homeContainer {
    background-image:url('/img/mobile_header_bg.jpg');
    background-size:cover;
    background-position:center center;
  }
  #quotePanel li {font-size:1rem;}
  #quotePanel a.unslider-arrow {margin-top:50px;}

  #IVLab header img {width:60%;padding:90px 0 60px;}
  .projectsPage header {padding:70px 20px 50px;}
  .projectsPage header p {width:100%;}

  #articlesPanel {padding:50px 0;}
  #articlesPanel p {padding:10px;text-align:left;}

  #aboutHeader h3 {font-size: .9rem;bottom:30px;}
  .aboutPageStory {padding: 30px 4% 0px;}
  .aboutPageImages {margin-top:0;padding-right:0;}

  .projectTitleContainer .projectTitleText {padding-left:0;}
  .projectTitleContainer .projectTitleText h4 {font-size: 1.15rem;}

  .screensSection {display:block;}
  .screensSectionText {width:100%;display:block;}
  .screensSectionImage {width:100%;display:block;}

  .footerSocialLinks {margin-bottom:10px;}

  #contactForm {padding: 0px 5%;}
  #contactForm.sendingNow form {margin-top:20px;}
  #contactForm form .cardLeft {border-right: none;}
  #contactForm .postcardWitt {display:none;}
  #contactForm .postcardMessage {padding: 5px 0 5px;}
  #contactForm form .postcardGreeting {margin-bottom:5px;width:70%;}
  #contactForm #contactClose {top:-20px;left:-20px;}
  #contactForm .postcardSendButton {margin-top:5px;}
}
